:root {
    --primaryColor: #05b1b1;
    --secondaryColor: #52339a;
}

header, footer, section {
    padding: 150px 0;
}

header, footer {
    background: url(static/img/pattern.png), var(--primaryColor);
    background: url(static/img/pattern.png), -moz-linear-gradient(left, var(--primaryColor) 0%, var(--secondaryColor) 100%);
    background: url(static/img/pattern.png), -webkit-linear-gradient(left, var(--primaryColor) 0%, var(--secondaryColor) 100%);
    background: url(static/img/pattern.png), linear-gradient(to right, var(--primaryColor) 0%, var(--secondaryColor) 100%);
    filter: url(static/img/pattern.png), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--primaryColor), endColorstr=var(--secondaryColor), GradientType=1);
}

.itd_play {
    background-color: var(--primaryColor);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}

.itd_play:hover {
    background-color: var(--secondaryColor);
}

.itd_triangle {
    width: 0;
    height: 0;
    margin-right: -3px;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--secondaryColor);
}

.btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--primaryColor);
}

.primary_color {
    color: var(--primaryColor);
}

.secondary_color {
    color: var(--secondaryColor);
}

.bg_primary {
    background-color: var(--primaryColor);
}

.bg_secondary {
    background-color: var(--secondaryColor);
}