<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootsrap.min.css">
    <link rel="stylesheet" href="/static/css/frontello.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Title</title>
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-white">
                    Spring front in thymeleaf project
                </h1>
                <div class="itd_play" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="itd_triangle"></div>
                </div>
                <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Order</a>
            </div>
        </div>
    </div>
</header>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase primary_color mb-5">
                    Courses
                </h2>
                <div class="row">
                        <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="itd_circle">
                            <i class="icon-list-numbered"></i>
                        </div>
                        <h5 class="text-center">
                            Materials
                        </h5>
                        <div class="line"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="itd_circle">
                            <i class="icon-list-numbered"></i>
                        </div>
                        <h5 class="text-center">
                            Символическая цена
                        </h5>
                        <div class="line"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="itd_circle">
                            <i class="icon-list-numbered"></i>
                        </div>
                        <h5 class="text-center">
                            Пожизненный доступ
                        </h5>
                        <div class="line"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="itd_circle">
                            <i class="icon-list-numbered"></i>
                        </div>
                        <h5 class="text-center">
                            Практические задания
                        </h5>
                        <div class="line"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="itd_circle">
                            <i class="icon-list-numbered"></i>
                        </div>
                        <h5 class="text-center">
                            35 видео уроков (5 часов)
                        </h5>
                        <div class="line"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="itd_circle">
                            <i class="icon-list-numbered"></i>
                        </div>
                        <h5 class="text-center">
                            Просмотр со смартфона
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    footer
</footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal header</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>